/* Compile _compile/style.scss with Grunt */
.navbar{
	background-color: #fff;
}

.navbar-header{
	padding-left:30px;
	padding-right:30px;
	background-color: #fff
}

.container{top:0;}
.container-fluid{
	padding:0;
}

.navbar-default .navbar-brand{
	color:#222;
	font-size: 14px;
	font-weight: bold;
} 

.jumbotron{
	background-color: #fff;
	background-size: cover;
	min-height:200px;
}